@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:wght@300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: "Montserrat", serif;
}

.main-btn{
    padding: 0.5rem;
    --tw-bg-opacity: 1;
    background-color: rgb(45 212 191 / var(--tw-bg-opacity)) /* #2dd4bf */;
    width: 26rem /* 320px */;
    margin-top: 1rem /* 16px */;
    margin-bottom: 1rem /* 16px */;
    border-radius: 0.25rem /* 4px */;
}
.main-btn:hover{
    background-color: #29c4af;
}